{% extends 'index.html' %}
{% block content %}

<h1 style="text-align:center;">Your Cart</h1>

<div class="container">
  {% for item in cart_items %}
    <div class="row align-items-center mb-4 border-bottom pb-3">
      
      <div class="col-md-2">
        <img src="{{ item.product.p_image.url }}" width="100">
      </div>

      <div class="col-md-3">
        <h5>{{ item.product.pro_name }}</h5>
        <p>₹{{ item.product.price }}</p>
      </div>

      <div class="col-md-3">
        <form method="POST" action="{% url 'update_cart' item.id %}">
          {% csrf_token %}
          <input type="number" name="quantity" value="{{ item.quantity }}" min="1">
          <button type="submit" class="btn btn-primary btn-sm">Update</button>
        </form>
      </div>

      <div class="col-md-2">
        <p>₹{{ item.total_price }}</p>
      </div>

      <div class="col-md-2">
        <a href="{% url 'remove_cart' item.id %}" class="btn btn-danger btn-sm">Remove</a>
      </div>
<a href="{% url 'checkout' %}" class="btn btn-success">Checkout</a>
    </div>
  {% empty %}
    <p>Your cart is empty.</p>
  {% endfor %}

  <h3>Total: ₹{{ total }}</h3>
</div>

{% endblock %}